
@using BusinessExcel.Models
@using BootstrapHtmlHelper
@using BusinessExcel.Providers.ProviderContext.Entities
@using BusinessExcel.Providers.ProviderContext

@using BusinessExcel.Controllers.JSON

@model IEnumerable<UserTree>



<section class="content-header">
    <h1>
        @BusinessExcel.Controllers.AdminController.USERSTREE_TITLE
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Manager</a></li>
        <li class="active">Manager Panel</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">

    
                <div id="userTreeview">
                    @Html.Action(@BusinessExcel.Controllers.AdminController.USER_TREE_UPDATEVIEW)
                </div>


    
</section>

