@model List<string>

@if (Model.Count > 0)
{
    <div class="box box-warning collapsed-box">
        <div class="box-header with-border">
            <h3 class="box-title">Errors</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
            <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <ul>
                @foreach (var error in Model)
                {
                    <li>
                        @error
                    </li>
                }
            </ul>
        </div>
    </div>
}
<script>
    $(document).ready(
        function () {
            $('.collapsed-box').boxWidget()
        }
        );
</script>