<!-- To the right -->
<div class="pull-right hidden-xs">
    
</div>
<!-- Default to the left -->
<strong>
    Copyright &copy; @DateTime.Now.Year
    <a href="#"><b>GRANDSTORES LLC</b>
        @*<img src="../../Images/logo185x27.svg" style="height: 50px;" />*@
    </a>.
</strong> All rights reserved.