@model string


<div id=@Model class="pull-right" style="display: none;margin-left:5px;margin-right:5px">
    <div class="center">
        <img src="~/Images/progress.gif" width="30" />
    </div>
</div>