@model BonusItemConfigModel
@using BusinessExcel.Models
@using BusinessExcel.Controllers


@using (Ajax.BeginForm(
    TargetController._BONUSSAVE,
    new AjaxOptions()
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "weekly_incentive"
    }
    ))
{
    @Html.HiddenFor(m=>m.WeekId)
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Bonus Lines</h3>
        <div class="box-tools pull-right">
            <div class="has-feedback">
                <input type="text" class="form-control input-sm" placeholder="Search">
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
        </div>
        <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        @Html.Partial(TargetController._BONUSITEMSELECTOR, Model)
    </div>
</div>
<!--Bonus Settup/-->
}