@model CategoryDetail
@using BusinessExcel.Models
@using BusinessExcel.Controllers
@using BootstrapHtmlHelper
@using BusinessExcel.Providers.ProviderContext
@using BusinessExcel.Providers.ProviderContext.Entities
@using BusinessExcel.Controllers.JSON

@if (Model == null)
{
    <div class="alert danger">Please update the category for the item.</div>
}

@Html.AdminLTEDropDownListFor(
                         m => m.category_id,
                         htmlLabelAttributes: null,


                           htmlDropDownAttributes: new Dictionary<string, object>() {
                                                                    { "class", "form-control select2" }

                            },
                         htmlGroupAttributes: new Dictionary<string, object>() { },
                         autoCompleteOptions: new AutoCompleteOptions()
                         {
                             AjaxOptions = new AjaxOptions()
                             {
                                 HttpMethod = "GET",
                                 Url = Url.Action(actionName: JSONController.CATEGORYAUTOCOMPLETER, controllerName: JSONController.JSONCONTROLLER)
                             },

                             DescriptionField = "description",
                             IDField = "category_id",
                             Formate = "'<tr><td>' + state.id + '</td><td><span>' + state.text + '</span></td></tr>'",
                             SelectedItem = Model,

                             IsAutoComplete = true,
                             SelectItems = null
                         },
                         showLabel: true)



@Html.Hidden("ItemCode",(string)ViewBag.ItemCode)
@Html.Hidden("ItemName", (string)ViewBag.ItemName)
