

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-muted {
  color: #777;
}
.text-primary {
  color: #337ab7;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #286090;
}
.text-success {
  color: #3c763d;
}
a.text-success:hover,
a.text-success:focus {
  color: #2b542c;
}
.text-info {
  color: #31708f;
}
a.text-info:hover,
a.text-info:focus {
  color: #245269;
}
.text-warning {
  color: #8a6d3b;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #66512c;
}
.text-danger {
  color: #a94442;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #843534;
}
.box-widget{
    border:none;
    position:relative
}
.widget-user .widget-user-header{
    padding:20px;
    height:120px;
    border-top-right-radius:3px;
    border-top-left-radius:3px
}
.widget-user .widget-user-username{
    margin-top:0;
    margin-bottom:5px;
    font-size:25px;
    font-weight:300;
    text-shadow:0 1px 1px rgba(0,0,0,0.2)
}
.widget-user .widget-user-desc{
    margin-top:0
}
.widget-user .widget-user-image{
    position:absolute;
    top:65px;
    left:50%;
    margin-left:-45px
}
.widget-user .widget-user-image>img{
    width:90px;
    height:auto;
    border:3px solid #fff
}
.widget-user .box-footer{
    padding-top:30px
}
.widget-user-2 .widget-user-header{
    padding:20px;
    border-top-right-radius:3px;
    border-top-left-radius:3px
}
.widget-user-2 .widget-user-username{
    margin-top:5px;
    margin-bottom:5px;
    font-size:25px;
    font-weight:300
}
.widget-user-2 .widget-user-desc{
    margin-top:0
}
.widget-user-2 .widget-user-username,.widget-user-2 .widget-user-desc{
    margin-left:75px
}
.widget-user-2 .widget-user-image>img{
    width:65px;
    height:auto;
    float:left
}

tfoot tr td{
}

  tfoot tr td a {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px 10px;
  }



  tfoot tr td a:hover {
    background-color: #f0f0f0;
  }

 tfoot .extra-table-pager{display:none;}

 table.be-pagination-spl{margin:0px !important;}

.select2-results td span{
    padding-left:5px;
}

.table-form .table-form-row{
    padding:10px;
     margin: 5px !important;
}
.table-form .field-validation-valid{
    margin:0px !important;
}
.table-form .form-group {
    margin:0px !important;
}
.table-form .checkbox {    
    padding: 6px 0px 6px 10px !important;
    margin: 0px !important;    
    border: 1px solid #ccc;
}

.table-form .padding-label {
    text-align:right;
    padding: 6px 10px 6px 10px !important;
    font-weight:bold;
}

.numaric{
    text-align:right;
}
.table-form .table-fields {
    padding-left:0px !important;
    padding-bottom:0px !important;
    padding-top:0px !important;
    padding-right:0px !important
}
.table-form .table-fields-header div {
    font-weight:bold;
    padding:10px !important;
    border: 1px solid #ccc;
}
.select2 select2-container select2-container--default{
    width:100% !important;
}

.text-transparent {
    color:rgba(0,0,0,0);
}

.datepicker table tr td span {
  width: 100%;
}