#table-daily-upate-view tbody td.name {
   width:15%
}
#table-daily-upate-view tbody td.user-name { 
   width:10%
}
#table-daily-upate-view tbody td.location {    
   width:15%
}
#table-daily-upate-view tbody td.brand {    
   width:7.5%
}
#table-daily-upate-view tbody td.category {    
   width:10%;
   overflow-y:hidden
}
#table-daily-upate-view tbody td.create-time {    
   width:10%
}
#table-daily-upate-view tbody td.item {
   width:10%
}
#table-daily-upate-view tbody td.description {
   width:15%
}
#table-daily-upate-view tbody td.quantity {
   width:5%;
   text-align:right;
}
#table-daily-upate-view tbody td.values {
   width:5%;
   text-align:right
}
