@using BusinessExcel.Models
@using BusinessExcel.Providers.ProviderContext.Entities
@model UserProfile

<div class="content-wrapper">

    <div class="progress-xxs">
        <div id="page-load" class="progress-bar progress-bar-striped" style="width: 100%;" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="50">
            <span class="sr-only">20% Complete</span>
        </div>
    </div>
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @BusinessExcel.Controllers.AccountsController.WELCOME_TITLE
            <small>Home</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Account</a></li>
            <li class="active">Home</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Your Page Content Here -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->

