@using BusinessExcel.Models
@using BusinessExcel.Controllers
@using BootstrapHtmlHelper
@using BusinessExcel.Providers.ProviderContext
@using BusinessExcel.Controllers.JSON


@using BusinessExcel.Providers.ProviderContext.Entities

@model ItemDetailsView

@{
    int count = 0;
    IQueryable<ItemDetailsView> data;
    using (var db = new SalesManageDataContext())
    {
        count = 0;
        data = db.ItemDetailsPaging(pageNumber: Model.PageNumber,
            pageSize: Model.PageSize,
            sort: ViewBag.ItemViewSort,
            sortdir: ViewBag.ItemViewDir,
            count: out count, 
            Filters: Model
            );
        Model.RowCount = count;
    }
    Model.UseAjax = true;
    Model.UpdateTargetId = "item_details_display";
    Model.LoadingElementId = "item_details_loading";
}

<div id="item_details_display" class="box box-primary">
    <div class="box-body">
        <div>
            <div class="row hidden-xs pad">
                <div class="col-xs-12 col-md-2 text-bold">
                    Item code
                </div>
                <div class="col-xs-12 col-md-6 text-bold">Description</div>
                <div class="col-xs-12 col-md-4 text-bold">Category</div>
            </div>
            @foreach (var item in data)
            {
                @Html.Partial(ItemsController.ITEM_LINE, item)
            }
            <div class="row">
                <div class="col-xs-12">
                    @Html.Partial("_Pagination", Model)
                </div>
            </div>
        </div>
    </div>
    <div id="item_details_loading" class="overlay" style="display:none">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
</div>

<script>
    function enableSave(formId) {
        $(formId).find(":button[type=submit]").prop("disabled", false);
    }
</script>
