
table tbody td p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow:hidden;
    margin: 0px;
}
}
#table-daily-upate-view tbody td.name {
   width:17%
}
#table-daily-upate-view tbody td.user-name { 
   width:8%;
   min-width:90px;
}
#table-daily-upate-view tbody td.location {    
   width:15%
}
#table-daily-upate-view tbody td.brand {    
   width:7.5%;
   min-width:75px;
}
#table-daily-upate-view tbody td.category {
   width:10%;
   overflow-y:hidden
}
#table-daily-upate-view tbody td.create-time {    
    min-width:138px;
   width:7%
}
#table-daily-upate-view tbody td.item {
    min-width:135px;
   width:10%
}
#table-daily-upate-view tbody td.description {
   width:22%
}
#table-daily-upate-view tbody td.quantity {
   width:1.5%;
   text-align:right;
}
#table-daily-upate-view tbody td.values {
   width:2%;
   text-align:right
}
